
*.html

*.lso

*.xwbt

*.ncd

*.gise

*.xise

*.prj

*.exe

*.wdb

*.lst

*.xmsgs

*.stx

*.xst

*.log

*.cmd

*.asy

*.ncf

*.ngc

*.sym

ipcore_dir/UART_Buf.vhd

ipcore_dir/UART_Buf.vho

*.xco

*.txt

*.pdf

ipcore_dir/UART_Buf/example_design/UART_Buf_exdes.ucf

ipcore_dir/UART_Buf/example_design/UART_Buf_exdes.vhd

*.xdc

*.bat

*.sh

*.tcl

*.scr

*.cgp

*.mif

ipcore_dir/obj_memory.vhd

ipcore_dir/obj_memory.vho

ipcore_dir/obj_memory/example_design/obj_memory_exdes.ucf

ipcore_dir/obj_memory/example_design/obj_memory_exdes.vhd

ipcore_dir/pixel_matrix_mem.vhd

ipcore_dir/pixel_matrix_mem.vho

ipcore_dir/pixel_matrix_mem/example_design/pixel_matrix_mem_exdes.ucf

ipcore_dir/pixel_matrix_mem/example_design/pixel_matrix_mem_exdes.vhd

ipcore_dir/pixel_matrix_mem/example_design/pixel_matrix_mem_prod.vhd

ipcore_dir/pixel_matrix_mem/simulation/addr_gen.vhd

ipcore_dir/pixel_matrix_mem/simulation/bmg_stim_gen.vhd

ipcore_dir/pixel_matrix_mem/simulation/bmg_tb_pkg.vhd

ipcore_dir/pixel_matrix_mem/simulation/checker.vhd

ipcore_dir/pixel_matrix_mem/simulation/data_gen.vhd

*.do

*.key

*.sv

ipcore_dir/pixel_matrix_mem/simulation/pixel_matrix_mem_synth.vhd

ipcore_dir/pixel_matrix_mem/simulation/pixel_matrix_mem_tb.vhd

ipcore_dir/pixel_matrix_mem/simulation/random.vhd

ipcore_dir/pixel_matrix_memory.vhd

ipcore_dir/pixel_matrix_memory.vho

ipcore_dir/pixel_matrix_memory/example_design/pixel_matrix_memory_exdes.ucf

ipcore_dir/pixel_matrix_memory/example_design/pixel_matrix_memory_exdes.vhd

ipcore_dir/pixel_matrix_memory/example_design/pixel_matrix_memory_prod.vhd

ipcore_dir/pixel_matrix_memory/simulation/addr_gen.vhd

ipcore_dir/pixel_matrix_memory/simulation/bmg_stim_gen.vhd

ipcore_dir/pixel_matrix_memory/simulation/bmg_tb_pkg.vhd

ipcore_dir/pixel_matrix_memory/simulation/checker.vhd

ipcore_dir/pixel_matrix_memory/simulation/data_gen.vhd

ipcore_dir/pixel_matrix_memory/simulation/pixel_matrix_memory_synth.vhd

ipcore_dir/pixel_matrix_memory/simulation/pixel_matrix_memory_tb.vhd

ipcore_dir/pixel_matrix_memory/simulation/random.vhd

*.in

*.out

*.xreport

*.projectmgr

isim/pn_info

*.c

*.didat

*.obj

*.vdb

*.dbg

*.dll

*.dat

isim/wrapper_tb_isim_beh.exe.sim/tmp_save/_1

*.a

*.xml

*.psg

*.wpc

*.ppr

*.jou

web_version.vhd

web_version_tb.vhd

*.bgn

*.bld

*.cmd_log

*.drc

*.ngd

*.ngr

*.pad

*.par

*.pcf

*.ptwx

*.syr

*.twr

*.twx

*.unroutes

*.ut

*.xpi

*.map

*.mrp

*.ngm

*.xrpt

*.csv

*.ini

*.xbcd

*.sdbl

*.sdbx

*.vdbl

*.vdbx
